
## edituser.html - Shown when an administrator chooses a user to edit from the table

## The button text refers to the user, and the forms have a hidden username field.
## As only an administraton can call this, the page includes the administrator functions.


<%inherit file="base_edit.html"/>

<%block name="title">
<title>Edit User</title>
</%block>

<div id="edituser">

<%include file="edituser2.html"/>

</div>

<%include file="backupdb.html"/>

<%include file="adduser.html"/>

<div id = "userlist" class="w3-panel">

<%include file="listusers.html"/>

</div>
