<!DOCTYPE html>
<html lang="en">

## base_edit.html - The base edit page when a user or administrator enters edit mode

## It provides the CSS and javascript links, and page header text,
## which include 'site root', 'members' and 'login' buttons and top site text, which
## can be edited to show your preferred text
## the 'title' block allows templates which inherit this to change their title tag

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%block name="title" />
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="/static/w3-colors-flat.css">
<script src="/static/htmx.min.js"></script>
<script src="/static/alpinejs.min.js" defer></script>

<body class="w3-flat-clouds">

  <header class="w3-container w3-flat-silver w3-block">
    <p class="w3-margin-right w3-left"><a href="/" class="w3-button w3-black w3-ripple w3-round w3-medium">Site Root</a></p>
    <p class="w3-right"><a href="/logout" class="w3-button w3-black w3-ripple w3-round w3-small">Logout</a></p>
    <p class="w3-right"><a href="/members" class="w3-button w3-black w3-ripple w3-round w3-small w3-margin-right">Members</a></p>
    <h2>Site title - edit the base_edit template to set this</h2>
  </header>

  ${self.body()}

</body>
</html>
