<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%block name="title" />
<style>
html, body {
  height: 100%;
  margin: 0;
  }
</style>
<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="/static/w3-colors-flat.css">
<script src="/static/htmx.min.js"></script>
<script src="/static/alpinejs.min.js" defer></script>

<body>
    <div class="w3-display-container w3-flat-clouds" style="height:100%">
      <header class="w3-container w3-display-topleft w3-flat-silver w3-block">
        <p class="w3-margin-right w3-left"><a href="/" class="w3-button w3-black w3-ripple w3-round w3-medium">Site Root</a></p>
        <h1>Site title - edit the base_loginout template to set this</h1>
      </header>

  ${self.body()}

    </div>

</body>
</html>
