<!DOCTYPE html>
<html lang="en">

## landing.html - This is the public page, change it for your application

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Root page</title>

<body>
    <div>
        <h1>Site Root</h1>
        <p>This template should show the initial public page</p>
        <p>It should contain a 'members' link, which will lead to the login page if the user is not logged in</p>
    </div>
    <div>
      <a href="/members">Members</a>
    </div>
</body>
</html>
