<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Members  Page</title>

<body>
    <div>
        <h1>Members Only</h1>
        <p>This template would show your main members-only application, and should contain a logout and user edit links</p>
        <p>Your username is : ${user | h}</p>
        <p>Your authorisation level is : ${auth}</p>
    </div>
    <div>
      <p><a href="/">Site root</a></p>
    </div>
    <div>
      <p><a href="/logout">Logout</a></p>
    </div>
    <div>
      <p><a href="/edit">Edit</a></p>
    </div>
</body>
</html>
