
## youedit.html - inserts buttons and forms for a user to edit his own details


<%inherit file="base_edit.html"/>

<%block name="title">
<title>Edit</title>
</%block>

<div x-data="{ open: false }" class="w3-content" style="max-width:400px;margin-top:8vh">

  <h2 style="margin-bottom:3vh">Account: ${user | h}</h2>

  <div>
    <button x-on:click="open=!open" x-text="open ? 'Close' : 'Change your password'" class="w3-button w3-black w3-ripple w3-round" style="width:100%"></button>
  </div>

  <div x-show="open" class="w3-container w3-card" style="margin-top:5vh;">
    <p>Change password for user: ${user | h}</p>
    <form hx-post="/edit/changepwd" hx-target="#pwdconfirm" hx-swap="outerHTML" hx-on::after-request="if(event.detail.successful) this.reset()">
      <p><label for="oldpassword">Old Password:</label>
        <input class="w3-input" type="password" id="oldpassword" name="oldpassword" required /></p>
      <p><label for="password1">New Password:</label>
        <input class="w3-input" type="password" id="password1" name="password1" required /></p>
      <p><label for="password2">New Password again:</label>
        <input class="w3-input" type="password" id="password2" name="password2" required /></p>
      <p class="w3-center">
        <button class="w3-button w3-black w3-ripple w3-round" type="submit">Submit</button></p>
    </form>
    <span x-html="open ? '&lt;p id=&quot;pwdconfirm&quot;&gt;&lt;/p&gt;' : '&lt;p&gt;&lt;/p&gt;'"></span>
  </div>

</div>


<div x-data="{ open: false }" class="w3-content" style="max-width:400px;margin-top:5vh">

  <div>
    <button x-on:click="open=!open" x-text="open ? 'Close' : 'Set your full name'" class="w3-button w3-black w3-ripple w3-round" style="width:100%"></button>
  </div>

  <div x-show="open" class="w3-container w3-card" style="margin-top:5vh;">
    <p>Set a new full name for: ${user | h}</p>
    <form hx-post="/edit/fullname" hx-target="#nameconfirm" hx-swap="outerHTML">
      <p><label for="fullname">Users full name:</label>
        <input class="w3-input" type="text" id="fullname" name="fullname" value="${fullname | h}" required /></p>
      <p class="w3-center">
        <button class="w3-button w3-black w3-ripple w3-round" type="submit">Submit</button></p>
    </form>
    <span x-html="open ? '&lt;p id=&quot;nameconfirm&quot;&gt;&lt;/p&gt;' : '&lt;p&gt;&lt;/p&gt;'"></span>
  </div>

</div>


<div x-data="{ open: false }" class="w3-content" style="max-width:400px;margin-top:5vh">

  <div>
    <button x-on:click="open=!open" x-text="open ? 'Do not delete the account' : 'Delete your account'" class="w3-button w3-black w3-ripple w3-round" style="width:100%"></button>
  </div>

  <div x-show="open" class="w3-center" style="margin-top:5vh;">
    <p>This deletes your ${user | h} account, and logs you off permanently. Are you sure you want to do this?</p>
    <p><button hx-post="/edit/delete" hx-target="#delresult" class="w3-button w3-black w3-ripple w3-round">Yes, Please delete my account</button></p>
    <p id="delresult" class="w3-red" x-text="open ? '' : ''"></p>
  </div>

</div>
